<form [formGroup]="createTaskForm" (ngSubmit)="submit()">
    <h2 mat-dialog-title>{{ isEdit ? "Edit" : "Create" }} a Task</h2>
    <mat-dialog-content class="mat-typography">
        

            <div class="task-title-wrapper mb-3">
                <mat-form-field class="full-width-input">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="Title">

                    @if (this.createTaskForm.controls['Title'].hasError('required')) {
                        <mat-error>Title is required</mat-error>
                    }
                </mat-form-field>
            </div>
            
            <div class="task-desc-wrapper mb-3">
                <mat-form-field class="full-width-input">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="Description">
                </mat-form-field>
            </div>
            
            <div class="task-options mb-3">

                <div class="task-type-wrapper">
                    <p>Recurrance</p>
                    <mat-button-toggle-group hideSingleSelectionIndicator="true" formControlName="FrequencyType">
                        <mat-button-toggle [value]="taskTypes.INTERVAL_TASK">Interval</mat-button-toggle>
                        <mat-button-toggle [value]="taskTypes.DAYS_TASK">Days</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                
                <div class="task-priority-wrapper">
                    <p>Priority</p>
                    <mat-button-toggle-group hideSingleSelectionIndicator="true" formControlName="Priority">
                        <mat-button-toggle [value]="taskPriorities.LOW">Low</mat-button-toggle>
                        <mat-button-toggle [value]="taskPriorities.NORMAL">Normal</mat-button-toggle>
                        <mat-button-toggle [value]="taskPriorities.HIGH">High</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                
            </div>
            
            <div class="task-options mb-3">

                <div class="task-frequency">
                    <p>Recur every {{ this.createTaskForm.controls['Frequency'].value }} {{ this.createTaskForm.controls['FrequencyType'].value === taskTypes.INTERVAL_TASK ? "day" : "week" }}{{ this.createTaskForm.controls['Frequency'].value == '1' ? "" : "s" }}</p>
                    <mat-slider class="full-width-input-slider" min="1" max="60" step="1">
                        <input matSliderThumb formControlName="Frequency">
                    </mat-slider>
                </div>

            </div>

            <div *ngIf="this.createTaskForm.controls['FrequencyType'].value === taskTypes.DAYS_TASK" class="task-days-wrapper mb-3">
                <mat-button-toggle-group hideMultipleSelectionIndicator="true" multiple formControlName="Days">
                    <mat-button-toggle [value]="0">Sun</mat-button-toggle>
                    <mat-button-toggle [value]="1">Mon</mat-button-toggle>
                    <mat-button-toggle [value]="2">Tue</mat-button-toggle>
                    <mat-button-toggle [value]="3">Wed</mat-button-toggle>
                    <mat-button-toggle [value]="4">Thu</mat-button-toggle>
                    <mat-button-toggle [value]="5">Fri</mat-button-toggle>
                    <mat-button-toggle [value]="6">Sat</mat-button-toggle>
                </mat-button-toggle-group>
                @if (this.createTaskForm.controls['Days'].hasError('daysRequired') && (this.createTaskForm.controls['Days'].touched || this.createTaskForm.controls['Days'].dirty)) {
                    <mat-error>Please select at least one day</mat-error>
                }
            </div> 

            <div class="task-options">

                <div class="task-start-wrapper mb-3">
                    <mat-form-field>
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="StartDate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="task-start-wrapper mb-3">
                    <mat-form-field *ngIf="!isEdit">
                        <mat-label>Assign To</mat-label>
                        <mat-select formControlName="OwnerId">
                            @for (user of users; track user) {
                                <mat-option [value]="user.id">{{user.name}}</mat-option>
                            }
                        </mat-select>
                        @if (this.createTaskForm.controls['OwnerId'].hasError('required')) {
                            <mat-error>Please select an Assignee</mat-error>
                        }
                    </mat-form-field>
                </div>

            </div>

        
    </mat-dialog-content>

    <mat-dialog-actions class="space-between">
        <button mat-button mat-dialog-close>Cancel</button>
        <button type="submit" mat-flat-button>{{ isEdit ? "Update" : "Create" }}</button>
    </mat-dialog-actions>
</form>