<mat-nav-list>
    <mat-list-item (click)="openCreateTaskModal()">
        <mat-icon matListItemIcon>add_task</mat-icon>
        <span matListItemTitle>Create Task</span>
        <span matListItemLine>Add a new task item</span>
    </mat-list-item>
    
    <mat-list-item (click)="openManageTasksModal()">
        <mat-icon matListItemIcon class="material-symbols-outlined">manufacturing</mat-icon>
        <span matListItemTitle>Manage Tasks</span>
        <span matListItemLine>Modify or delete existing tasks</span>
    </mat-list-item>

    <mat-list-item (click)="openCreateEditUserModal()">
        <mat-icon matListItemIcon class="material-symbols-outlined">person_add</mat-icon>
        <span matListItemTitle>Create User</span>
        <span matListItemLine>Add a user to the task sheet</span>
    </mat-list-item>

    <mat-list-item (click)="openManageUserModal()">
        <mat-icon matListItemIcon class="material-symbols-outlined">manage_accounts</mat-icon>
        <span matListItemTitle>Manage Users</span>
        <span matListItemLine>Modify or delete existing users</span>
    </mat-list-item>
</mat-nav-list>