.task {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    position: relative;
    border-radius: 1rem;

    .task-warning-icon {
        position: absolute;
        top: -.8rem;
        left: -.8rem;
        z-index: 9;
        line-height: 0;

        .task-warning-icon-inner {
            background: orange;
            border-radius: 100px;
        }
        .mat-icon {
            font-size: 1.6rem;
            height: 1.6rem;
            width: 1.6rem;
        }
    }
    .task-icon {
        line-height: 0;
        align-self: flex-start;

        .mat-icon {
            font-size: 3rem;
            height: 3rem;
            width: 3rem;
        }

        .task-icon-inner {
            padding: .5rem;
            border-radius: .5rem;
            background-color: var(--task-upcoming);
        }
    }
    .task-content {
        margin: .5rem 0;

        .task-due {
            margin: 0;
            font-size: .875rem;
            line-height: 1;
        }
        .task-title {
            margin: 0;
            font-size: 1.5rem;
            line-height: 1;
        }
        .task-description {
            font-size: .875rem;
        }
    }
    .task-complete {
        button {
            background-color: var(--primary);
        }
    }
    .task-snooze {
        margin-left: auto;
        button {
            color: var(--dark)
        }
    }
}

.task.task-due-overdue {
    background: linear-gradient(to right, #ff9292, transparent);

    .task-warning-icon {
        .task-warning-icon-inner {
            background: red;
            color: white;
            animation: shakeicon 3s linear 0s infinite;
        }
    }
}

.task.task-due-today {
    background: linear-gradient(to right, #fff4de, transparent);
}

.task.task-due-tomorrow {
    background: linear-gradient(to right, #f7ffdc, transparent);
}

@keyframes shakeicon {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    55% {
        transform: rotate(20deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    65% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(0deg);
    }
}