<div class="task" [class]="getDueClass(task.dueAt)">
    <div class="task-inner">
        <div class="task-warning-icon">
            <div class="task-warning-icon-inner">
                <mat-icon *ngIf="isOverdue(task.dueAt)" class="material-symbols-outlined">exclamation</mat-icon>
                <mat-icon *ngIf="isDueToday(task.dueAt)" class="material-symbols-outlined">exclamation</mat-icon>
            </div>
        </div>

        <div class="task-icon">
            <div class="task-icon-inner">
                {{ taskOwner?.name?.substring(0, 1) }}
            </div>
        </div>
        <div class="task-content">
            <p class="task-due">{{ this.getDueDateString(task.dueAt) }} | {{ getTaskIntervalString(task) }}</p>
            <h4 class="task-title">{{ task.taskParent.title }}</h4>

            @if (!!task.taskParent.description) {
            <div class="task-description">
                {{ task.taskParent.description }}
            </div>
            }
        </div>
    </div>

    <div class="task-snooze">
        <button mat-icon-button>
            <mat-icon class="material-symbols-outlined" (click)="openAssTaskActionsDialog()">more_vert</mat-icon>
        </button>
    </div>
    <div class="task-complete">
        <button mat-fab (click)="openCompleteTaskDialog()">
            <mat-icon fontIcon="check"></mat-icon>
        </button>
    </div>
</div>