.task {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    
    .task-inner {
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: 1rem;
        position: relative;
        border-radius: 1rem;
        padding-right: 1rem;
        flex: 1;
    }

    .task-warning-icon {
        position: absolute;
        top: -.6rem;
        left: -.6rem;
        z-index: 9;
        line-height: 0;

        .task-warning-icon-inner {
            background: orange;
            border-radius: 100px;
        }
        .mat-icon {
            font-size: 1.2rem;
            height: 1.2rem;
            width: 1.2rem;
        }
    }
    .task-icon {
        align-self: stretch;
        background-color: var(--task-upcoming);
        border-radius: .5rem 0 0 .5rem;
        display: flex;
        align-items: center;

        .task-icon-inner {
            padding: 1.25rem .5rem;
            width: 40px;
            text-align: center;
            font-size: 32px;
            font-family:'Times New Roman', Times, serif
        }
    }
    .task-content {
        margin: .5rem 0;

        .task-due {
            margin: 0;
            font-size: .875rem;
            line-height: 1;
        }
        .task-title {
            margin: 0;
            font-size: 1.5rem;
            line-height: 1;
        }
        .task-description {
            font-size: .875rem;
        }
    }
    .task-complete {
        button {
            background-color: var(--primary);
        }
    }
    .task-snooze {
        margin-left: auto;
        button {
            color: var(--dark)
        }
    }
}

.task-due-overdue .task-inner {
    background: linear-gradient(-20deg, #ff3939 20%, #ff8181);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .2);
    animation: movbg 20s ease 0s infinite;
    background-size: 300%;

    .task-content {
        color: white;
    }

    .task-warning-icon {
        top: -.8rem;
        left: -.8rem;

        .task-warning-icon-inner {
            background: red;
            color: white;
            animation: shakeicon 3s linear 0s infinite;
        }        
        .mat-icon {
            font-size: 1.6rem;
            height: 1.6rem;
            width: 1.6rem;
        }
    }
}

.task-due-today .task-inner {
    background: linear-gradient(to right, #fff4de, transparent);
}

.task-due-tomorrow .task-inner {
    background: linear-gradient(to right, #f7ffdc, transparent);
}

@keyframes shakeicon {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    55% {
        transform: rotate(20deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    65% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(0deg);
    }
}

@keyframes movbg {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}