<h2 mat-dialog-title>Create a Task</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="createTaskForm">

        <div class="task-title-wrapper mb-3">
            <mat-form-field class="full-width-input">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">

                @if (this.createTaskForm.controls['title'].hasError('required')) {
                    <mat-error>Title is required</mat-error>
                }
            </mat-form-field>
        </div>
        
        <div class="task-desc-wrapper mb-3">
            <mat-form-field class="full-width-input">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>
        </div>
        
        <div class="task-options mb-3">

            <div class="task-type-wrapper">
                <p>Recurrance</p>
                <mat-button-toggle-group hideSingleSelectionIndicator="true" formControlName="frequencyType">
                    <mat-button-toggle [value]="taskTypes.INTERVAL_TASK">Interval</mat-button-toggle>
                    <mat-button-toggle [value]="taskTypes.DAYS_TASK">Days</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            
            <div class="task-priority-wrapper">
                <p>Priority</p>
                <mat-button-toggle-group hideSingleSelectionIndicator="true" formControlName="priority">
                    <mat-button-toggle [value]="taskPriorities.LOW">Low</mat-button-toggle>
                    <mat-button-toggle [value]="taskPriorities.NORMAL">Normal</mat-button-toggle>
                    <mat-button-toggle [value]="taskPriorities.HIGH">High</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            
        </div>
        
        <div class="task-frequency mb-3">
            <p>Recur every {{ this.createTaskForm.controls['frequency'].value }} {{ this.createTaskForm.controls['frequencyType'].value === taskTypes.INTERVAL_TASK ? "day" : "week" }}{{ this.createTaskForm.controls['frequency'].value == '1' ? "" : "s" }}</p>
            <mat-slider class="full-width-input-slider" min="1" max="60" step="1">
                <input matSliderThumb formControlName="frequency">
            </mat-slider>
        </div>
        
        <div *ngIf="this.createTaskForm.controls['frequencyType'].value === taskTypes.DAYS_TASK" class="task-days-wrapper mb-3">
            <mat-button-toggle-group hideMultipleSelectionIndicator="true" multiple formControlName="days">
                <mat-button-toggle value="1">Sun</mat-button-toggle>
                <mat-button-toggle value="2">Mon</mat-button-toggle>
                <mat-button-toggle value="3">Tue</mat-button-toggle>
                <mat-button-toggle value="4">Wed</mat-button-toggle>
                <mat-button-toggle value="5">Thu</mat-button-toggle>
                <mat-button-toggle value="6">Fri</mat-button-toggle>
                <mat-button-toggle value="7">Sat</mat-button-toggle>
            </mat-button-toggle-group>
            @if (this.createTaskForm.controls['days'].hasError('daysRequired') && (this.createTaskForm.controls['days'].touched || this.createTaskForm.controls['days'].dirty)) {
                <mat-error>Please select at least one day</mat-error>
            }
        </div> 

    </form>
</mat-dialog-content>

<mat-dialog-actions class="space-between">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button (click)="submit()">Create</button>
</mat-dialog-actions>