<mat-nav-list>
    <h5 class="action-menu-title">{{ data.taskParent.title }}</h5>
    <div class="task-data">
        <div>Assigned to {{ data.owner?.name }}</div>
        <div><em>Due {{ data.dueAt | date:'mediumDate' }}</em></div>
    </div>
    <mat-list-item (click)="true">
        <mat-icon matListItemIcon class="material-symbols-outlined">next_plan</mat-icon>
        <span matListItemTitle>Reassign Task</span>
    </mat-list-item>
    
    <mat-list-item (click)="true">
        <mat-icon matListItemIcon class="material-symbols-outlined">snooze</mat-icon>
        <span matListItemTitle>Snooze Task</span>
    </mat-list-item>
</mat-nav-list>