<h2 mat-dialog-title>Additional Actions</h2>
<mat-dialog-content class="mat-typography">

    <div class="additional-actions-container">

        <div class="additional-action">
            <button mat-fab extended>
                <mat-icon class="material-symbols-outlined">next_plan</mat-icon>
                Reassign
            </button>
        </div>

        <div class="additional-action">
            <button mat-fab extended>
                <mat-icon class="material-symbols-outlined">snooze</mat-icon>
                Snooze
            </button>
        </div>

    </div>

</mat-dialog-content>

<mat-dialog-actions class="space-between">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button>Save</button>
</mat-dialog-actions>